.wish-list-empty {
  padding: 30px 0px 60px 0px;
  height: 75vh;
  padding-top: 7%;
}
.wish-list-empty h2 {
  line-height: 40px;
  padding-bottom: 20px;
  font-size: 35px;
}
.wish-list-empty p {
  font-size: 19px;
  line-height: 30px;
}
.wish-list-page-container {
  width: 70%;
  margin: 0 auto;
}
.wish-list-wraper {
  margin-bottom: 40px;
  display: flex;
}
.all-item-heading {
  padding-bottom: 20px;
  font-size: 20px;
  padding-top: 35px;
}
.wish-list-item-img {
  width: 20%;
}
.wish-list-item-content {
  width: 80%;
  margin-left: 25px;
}
.heading-with-close-btn {
  display: flex;
  justify-content: space-between;
}
.heading-with-close-btn h2 {
  font-size: 22px;
}
.wish-list-item-content h3 {
  line-height: 40px;
  font-size: 18px;
}
.wish-list-item-content h4 {
  font-size: 16px;
}
.wish-list-item-content select {
  margin: 15px 0px;
  padding: 4px 0px;
}

.move-bag-btn-div {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .wish-list-item-content {
    padding-left: 0px;
  }
  .wish-list-page-container {
    padding: 0px 15px;
    width: 100%;
  }
  .wish-list-item-content h3 {
    font-size: 16px;
    line-height: 27px;
    padding: 5px 0px;
  }
  .heading-with-close-btn h2 {
    font-size: 17px;
  }
  .wish-list-item-content .heading-with-close-btn h3,
  .wish-list-item-content .heading-with-close-btn h3 strong {
    font-size: 16px;
  }
  .item-num-span {
    font-size: 16px;
  }
  .wish-list-item-content select {
    border: 0px;
    background-color: #cccccc4f;
    padding: 5px;
  }
  .heading-with-close-btn img {
    width: 12px !important;
    height: 12px !important;
  }
  .move-bag-btn-div a {
    text-transform: capitalize;
    color: #c41e3a;
  }
  .wish-list-wraper {
    margin-bottom: 30px;

    border-bottom: 1px solid #cccccc85;
    padding-bottom: 30px;
  }
}
